.columns{
    width:300px;
    overflow: hidden;
}

.columns-wrapper{
    width:800%;
    position: relative;
    left:0%;
    transition: 0.2s all ease;
}

.column{
    width: 300px;
    float: left;
}

.column select{
    margin:10px;
}

.column select{
    display: block;
}